button{
    padding: 0;
    margin: 0;

    width: 90%;
    height: 90%;

    border-radius: 1rem;
    border: none;
    box-shadow: 3px 3px 7px grey;

    transition-property: box-shadow;
    transition-duration: 0.125s;

    font-size: 2rem;
    color: grey;
}

.buttonEqual{
    background-color: orange;
    color: whitesmoke;
    grid-column: 3/ span 2;
}

.buttonNumber{
    color: black;
}

.buttonOperator{
    color: orange;
}

.button:focus{
    outline: none;
}

.button:active{
    box-shadow: none;
}