.input{
    width: 90%;
    height: 10%;

    text-align: end;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 2rem;

    margin-bottom: 1rem;

    box-sizing: border-box;

    background: none;

    border: none;


}


